
ul.ukladPoziomy, ul.ukladPoziomy li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	
}


ul.ukladPoziomy {
	position: absolute;
}

ul.ukladPoziomy li {
	float: left;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: transparent #25b #25b #9ce;
	
}

ul.ukladPoziomy a:link, ul.ukladPoziomy a:visited {
	text-decoration: none;
	display: block;
	width: 142px;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	background-color: #27c;
	color: #def;
	border-top: 10px solid #25b;
}

ul.ukladPoziomy a:hover {
	background-color: #28e;
	color: #fff;
	border-top: 20px solid #26d;
	
}

#menuPoziome {
    margin      : 0px;
    border-left : 0px;
    padding     : 0px;
    width       : 1200px;
	height: 40px;
    background-color : blue;
}

#logo
	{
		text-align: center;
		color: black;
	}
	
#logo_zdjecie{
	display: block;
    width: 1200px;
    height: 300px;
 	
}

#container
	{
		width: 1200px;
		height: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	#lewy_pasek
	{
		float: left;
		background-color: lightgray;
		width: 280px;
		min-height: 820px;
		padding: 10px;
	}
	#content
	{
		float: left;
		padding: 20px;
		width: 560px;
		height:1000px;
	}
	#prawy_pasek
	{
		float: left;
		width: 280px;
		min-height: 820px;
		padding: 10px;
		background-color: lightgray;
	}
	#footer
	{
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
		padding: 20px;
	}	
	
	#newsletter{
	
	
		clear: both;
		background-color: pink;
		color: white;
		height:180px;
		text-align: center;
		
		padding: 10px;
	
	}
	
	#logowanie{
	
		float: left;
		background-color: white;
		width: 260px;
		min-height: 100px;
		padding: 10px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	
	}
	#rejestracja{
	
		float: left;
		background-color: white;
		width: 260px;
		text-align: center;
		min-height: 100px;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
	
	}
	
	form{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.button {
    display: block;
    height: 50px;
    width: 280px;
    background: #ff9f3f;
    border: 2px solid rgba(33, 68, 72, 0.59); 
}

	body  {
  background-image: url("tło2.jpg");
  
}

#wyszukiwanie{
	text-align: left;
}





